<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351215490903-p19tov4m7ra2fr4edkmpv04p5ctcq6p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351215490903-p19tov4m7ra2fr4edkmpv04p5ctcq6p7</string>
	<key>API_KEY</key>
	<string>AIzaSyDBVA_BC-gh3Dr44ID3fP6A8FI-Ivn0tKM</string>
	<key>GCM_SENDER_ID</key>
	<string>351215490903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>hakathon5jan</string>
	<key>STORAGE_BUCKET</key>
	<string>hakathon5jan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351215490903:ios:b39d3a28ebcebd0c249012</string>
</dict>
</plist>